h2="Remap"
p="The table below shows which modules and global objects the domains comprise. Hover over a module"
table.pure-table.pure-table-bordered
  thead
    th="Domain"
    th="Modules/Global Objects"
  tbody.report-table
    - for (let domain in remap)
      tr
        td=domain
        td
          -for (let mod of remap[domain])
            span(
              data-balloon=JSON.stringify(modulesToKeywords[mod] || {})
              data-balloon-pos="up"
            )
              span.baloonable=mod
              span=", "
