h2="Remap"
p="The table below shows which modules and global objects the domains comprise. Domains are derived from a module's keywords. The module's most used keyword is used as its domain. Hover over a module to show all of its keywords and number of times that keyword has been used in the NPM registry."
table.pure-table.pure-table-bordered
  thead
    th="Domain"
    th="Modules/Global Objects"
  tbody.report-table
    - for (let domain in remap)
      tr
        td=domain
        td
          -for (let mod of remap[domain])
            span(
              data-balloon=JSON.stringify(modulesToKeywords[mod] || {})
              data-balloon-pos="up"
            )
              span.baloonable=mod
              span=", "
