h2="Domains"
p="The table below shows how many times a developer (rows) has used an API from a domain (columns). Hover over the domain name to see which modules (that were used in the project) belong to the domain. The cell's are colorized like a heatmap, respective to the fraction of the number of API useages by a developer in a domain. Hover over the cells to reveal the percentage."
table.pure-table.pure-table-bordered.report-table
  tbody
    tr
      td.report-cell.report-heat-0="0% - 10%"
      td.report-cell.report-heat-1="10% - 20%"
      td.report-cell.report-heat-2="20% - 30%"
      td.report-cell.report-heat-3="30% - 40%"
      td.report-cell.report-heat-4="40% - 50%"
      td.report-cell.report-heat-5="50% - 60%"
      td.report-cell.report-heat-6="60% - 70%"
      td.report-cell.report-heat-7="70% - 80%"
      td.report-cell.report-heat-8="80% - 90%"
      td.report-cell.report-heat-9="90% - 100%"
br
table.pure-table.pure-table-bordered.report-table
  thead
    th=short_title
    th
      em="total"
    - for (let col of domains._cols)
      th(data-balloon=(remap[col] || [col]).join(', '), data-balloon-pos="up")
        a(href=`javascript:toggleModules('${col}')`)=col
      - for (let mod of remap[col] || [])
        th(class=`report-cell-module report-cell-dom-${col} hidden`)=mod
  tbody
    tr
      td.report-row-header
        em="total"
      td=sum(Array.from(domains._rows.keys()).map(row => sum(domains.getRow(row))))
      - for (let col of domains._cols)
        td.report-cell=sum(domains.getCol(col))
        - for (let mod of remap[col] || [])
          td(class=`report-cell-module report-cell-dom-${col} hidden`)=sum(modules.getCol(mod))

    - for (let row of domains._rows)
      tr
      td.report-row-header=row
      td=sum(domains.getRow(row))
      - for (let col of domains._cols)
        td(
          class=`report-cell report-heat-${heatmap.get(row, col).heat}`
        )
          span(
            data-balloon=heatmap.get(row, col).percentage
            data-balloon-pos="right"
            style="float:left; width:100%; min-width:100%;"
          )=domains.get(row, col)
        - for (let mod of remap[col] || [])
          td(class=`report-cell-module report-cell-dom-${col} hidden`)=modules.get(row, mod)
